<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8" />
    <meta name="description" content="<%= productDescription %>" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />
    <link rel="icon" type="image/ico" href="favicon.ico" />
    <!-- OG Tag -->
    <meta property="og:title" content="황상은 포트폴리오" />
    <meta
      property="og:description"
      content="황상은의 웹 개발 포트폴리오입니다."
    />
    <meta property="og:image" content="/og-image.jpg" />
    <meta property="og:url" content="https://sanggusseu.github.io/" />
    <meta property="og:type" content="website" />
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
